<section data-section-id="{{ section.id }}" data-section-type="product">
  
  <div class="container mt-4">
    <div class="row">
        <div class="col-md-7">

          {%- assign current_variant = product.selected_or_first_available_variant -%}
          {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
        
            <div class="product-slider">
              {% if product.images.size > 1 %}
                  {% for image in product.images %}
                    <div>
                      <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                        <img class="img-fluid" src="{{ image.src | img_url: '800x600', crop:'center' }}" alt="{{ image.alt | escape }}">
                      </a>
                    </div>
                  {% endfor %}
              {% endif %}
            </div>

            <div class="product-slider-nav mt-4">
                {% if product.images.size > 1 %}
                    {% for image in product.images %}
                        <img class="img-fluid px-3" width="50" src="{{ image.src | img_url: '200x150', crop:'center' }}" alt="{{ image.alt | escape }}">
                    {% endfor %}
                {% endif %} 
            </div>

        </div> <!-- / col -->

        <div class="col-md-5">
                  
            <h1>{{ product.title }}</h1>
           
            <div data-price-wrapper class="my-2">
                <span data-product-price>
                  {{ current_variant.price | money }}
                </span>
          
                {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                  <s data-compare-price>
                    {% if current_variant.compare_at_price > current_variant.price %}
                      {{ current_variant.compare_at_price | money }}
                    {% endif %}
                  </s>
                {% endif %}
            </div>
                   
          
            {% include 'product-form' %}
          
            <div class="rte">
              {{ product.description }}
            </div>
          
            {% if section.settings.show_share_buttons %}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endif %}
        </div> <!-- / col -->
    </div> <!-- / row -->
  </div>

</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
