{% paginate collection.products by 12 %}

  <div class="container">

        <header role="banner">
          <h1>{{ collection.title }}</h1>
          {% if collection.description != blank %}
            <div class="rte">
              {{ collection.description }}
            </div>
          {% endif %}
        </header>
      
        <div class="row">
            <div class="col-md-3">

                {% if collection.all_tags.size > 0 %}
                  <div class="card">

                      <div class="card-header">
                        <strong>Tags</strong>
                      </div>

                      <ul class="list-group list-group-flush">
                        {% for tag in collection.all_tags %}
                          {% if current_tags contains tag %}
                            <li class="list-group-item bg-primary">
                              {{ tag | link_to_remove_tag: tag }}
                            </li>
                          {% else %}
                            <li class="list-group-item">
                              {{ tag | link_to_tag: tag }}
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>

                  </div>
                {% endif %}

            </div>

            <div class="col-md-9">
                <div class="row">
                    {% for product in collection.products %}
                      <div class="col-md-4">
                        <div class="product-item">

                            {% if product.featured_image != blank %}
                              <a href="{{ product.url | within: collection }}">
                                  <img src="{{ product.featured_image | img_url:'600x600', crop:'center' }}" alt="" class="img-fluid">
                              </a>
                            {% endif %}
                            <p>
                              <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                            </p>

                            {% include 'product-price' %}

                        </div>

                      </div>
                
                    {% endfor %}
                </div>
                
                {% if paginate.pages > 1 %}
                  {% include 'pagination' %}
                {% endif %}

            </div>

        </div>



  </div>

  
{% endpaginate %}
